.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $footer-background-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: $mobile) {
  max-width: 480px;
  }
  margin-left: auto;
  margin-right: auto;
  &__title {
    margin-bottom: 30px;

    color: $white-color;
    font-weight: 900;
    @media screen and (min-width: $mobile) {
      font-size: 26px;
    line-height: 1.61;
    }
    @media screen and (min-width: $tablet) {
    font-size: 44px;
    line-height: 1.36;
    }
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    display: inline-block;

    @media screen and (min-width: $mobile) {
    padding: 10px 24px;
    }
     @media screen and (min-width: $tablet) {
    padding: 10px 32px;
     }
    color: $white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: $mobile) {
    width: 480px;
    }
  @media screen and (min-width: $tablet) {
    padding-top: 200px;
    padding-bottom: 200px;
     max-width: 1600px;
    }
  }
